In [217]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

# Read and Prepare the data

In [218]:
# Read in the data (csv files)
state_park_df = pd.read_csv('Raw_data/state_park_df.csv')
state_park_time_date = pd.read_csv('Raw_data/state_park_time_date.csv')

## state_park_df

In [219]:
state_park_df.shape

(279, 9)

In [220]:
num_uncleanned_rows_state_park_df = state_park_df.shape[0]

In [221]:
state_park_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State Park        279 non-null    object
 1   Classification    279 non-null    object
 2   County            279 non-null    object
 3   Size (acres)      275 non-null    float64
 4   Size (ha)         275 non-null    object
 5   Year established  278 non-null    object
 6   Remarks           154 non-null    object
 7   Latitude          255 non-null    float64
 8   Longitude         255 non-null    float64
dtypes: float64(3), object(6)
memory usage: 19.7+ KB

In [222]:
state_park_df.head()

,State Park,Classification,County,Size (acres),Size (ha),Year established,Remarks,Latitude,Longitude
0,Admiral William Standley State Recreation Area,State recreation area,Mendocino,45.0,18,1944,Boasts redwoods plus salmon and steelhead fish...,39.6464,-123.6169
1,Ahjumawi Lava Springs State Park,State park,Shasta,5930.0,2400,1975,Preserves a wilderness of freshwater springs a...,41.1361,-121.4178
2,Albany State Marine Reserve,Park property,Alameda,NaN,NaN,1985,NaN,37.8869,-122.2978
3,Anderson Marsh State Historic Park,State historic park,Lake,1298.0,525,1982,Preserves a tule marsh and ancient archaeologi...,38.9236,-122.6250
4,Andrew Molera State Park,State park,Monterey,4766.0,1929,1968,Offers a primitive walk-in campground on the B...,36.2833,-121.8333

## state_park_time_data

In [223]:
state_park_time_date.shape

(82715, 17)

In [224]:
num_uncleanned_rows_state_park_time_date = state_park_time_date.shape[0]

In [225]:
state_park_time_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82715 entries, 0 to 82714
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State Park                     82715 non-null  object
 1   Date                           82715 non-null  object
 2   Sunrise (Time)                 82715 non-null  object
 3   Sunrise (Angle)                82715 non-null  int64
 4   Sunset (Time)                  82715 non-null  object
 5   Sunset (Angle)                 82715 non-null  int64
 6   Daylength (Length)             82715 non-null  object
 7   Daylength (Diff.)              82715 non-null  object
 8   Astronomical Twilight (Start)  82715 non-null  object
 9   Astronomical Twilight (End)    82715 non-null  object
 10  Nautical Twilight (Start)      82715 non-null  object
 11  Nautical Twilight (End)        82715 non-null  object
 12  Civil Twilight (Start)         82715 non-null  object
 13  Civil Twilight (End)           82715 non-null  object
 14  Solar Noon (Time)              82715 non-null  object
 15  Solar Noon (Angle)             82715 non-null  float64
 16  Solar Noon (Mil. mi)           82715 non-null  float64
dtypes: float64(2), int64(2), object(13)
memory usage: 10.7+ MB

In [226]:
state_park_time_date.head()

,State Park,Date,Sunrise (Time),Sunrise (Angle),Sunset (Time),Sunset (Angle),Daylength (Length),Daylength (Diff.),Astronomical Twilight (Start),Astronomical Twilight (End),Nautical Twilight (Start),Nautical Twilight (End),Civil Twilight (Start),Civil Twilight (End),Solar Noon (Time),Solar Noon (Angle),Solar Noon (Mil. mi)
0,Admiral William Standley State Recreation Area,2024-01-01,7:35 am,120,5:00 pm,240,9:25:32,+0:39,5:58 am,6:37 pm,6:31 am,6:04 pm,7:05 am,5:30 pm,12:17 pm,27.4,91.404
1,Admiral William Standley State Recreation Area,2024-01-02,7:35 am,120,5:01 pm,240,9:26:15,+0:42,5:58 am,6:38 pm,6:31 am,6:05 pm,7:05 am,5:31 pm,12:18 pm,27.5,91.404
2,Admiral William Standley State Recreation Area,2024-01-03,7:35 am,119,5:02 pm,241,9:27:01,+0:46,5:58 am,6:39 pm,6:31 am,6:06 pm,7:05 am,5:32 pm,12:18 pm,27.6,91.404
3,Admiral William Standley State Recreation Area,2024-01-04,7:35 am,119,5:03 pm,241,9:27:51,+0:50,5:59 am,6:39 pm,6:31 am,6:07 pm,7:05 am,5:33 pm,12:19 pm,27.7,91.405
4,Admiral William Standley State Recreation Area,2024-01-05,7:35 am,119,5:04 pm,241,9:28:45,+0:53,5:59 am,6:40 pm,6:31 am,6:07 pm,7:05 am,5:34 pm,12:19 pm,27.8,91.406

# Clean and Process the data

### state_park_df

In [227]:
state_park_df.head()

,State Park,Classification,County,Size (acres),Size (ha),Year established,Remarks,Latitude,Longitude
0,Admiral William Standley State Recreation Area,State recreation area,Mendocino,45.0,18,1944,Boasts redwoods plus salmon and steelhead fish...,39.6464,-123.6169
1,Ahjumawi Lava Springs State Park,State park,Shasta,5930.0,2400,1975,Preserves a wilderness of freshwater springs a...,41.1361,-121.4178
2,Albany State Marine Reserve,Park property,Alameda,NaN,NaN,1985,NaN,37.8869,-122.2978
3,Anderson Marsh State Historic Park,State historic park,Lake,1298.0,525,1982,Preserves a tule marsh and ancient archaeologi...,38.9236,-122.6250
4,Andrew Molera State Park,State park,Monterey,4766.0,1929,1968,Offers a primitive walk-in campground on the B...,36.2833,-121.8333

In [228]:
state_park_df.dtypes

State Park           object
Classification       object
County               object
Size (acres)        float64
Size (ha)            object
Year established     object
Remarks              object
Latitude            float64
Longitude           float64
dtype: object

### Check the null value percentages of all the columns

In [229]:
state_park_df.isnull().sum()/len(state_park_df)

State Park          0.000000
Classification      0.000000
County              0.000000
Size (acres)        0.014337
Size (ha)           0.014337
Year established    0.003584
Remarks             0.448029
Latitude            0.086022
Longitude           0.086022
dtype: float64

### Drop all rows that have latitude and longtitude values being NaN

In [230]:
state_park_df.dropna(subset=['Latitude', 'Longitude'], inplace=True)

### Check for number of duplicate values

In [231]:
state_park_df.duplicated().sum()

0

### Convert Size (ha) to float from object

In [232]:
numeric_col = pd.to_numeric(state_park_df['Size (ha)'], errors='coerce')
non_numeric_indexes = state_park_df.index[numeric_col.isna()]
print("Indexes of non-numeric values:", non_numeric_indexes)

Indexes of non-numeric values: Int64Index([2, 37, 38, 39, 243], dtype='int64')

In [233]:
state_park_df.dropna(subset=['Size (ha)'], inplace=True)

In [234]:
state_park_df.loc[37, 'Size (ha)'] = 16

In [235]:
state_park_df.loc[37]

State Park                            California State Capitol Museum
Classification                                          Park property
County                                                     Sacramento
Size (acres)                                                     40.0
Size (ha)                                                          16
Year established                                                 1982
Remarks             Offers exhibits and tours of the California St...
Latitude                                                      38.5764
Longitude                                                   -121.4933
Name: 37, dtype: object

In [236]:
state_park_df['Size (ha)'] = state_park_df['Size (ha)'].astype(float)

### Convert Year established to float from object

In [237]:
numeric_col = pd.to_numeric(state_park_df['Year established'], errors='coerce')
non_numeric_indexes = state_park_df.index[numeric_col.isna()]
print("Indexes of non-numeric values:", non_numeric_indexes)

Indexes of non-numeric values: Int64Index([147], dtype='int64')

In [238]:
state_park_df.loc[147]

State Park                Marshall Gold Discovery State Historic Park
Classification                                    State historic park
County                                                      El Dorado
Size (acres)                                                    575.0
Size (ha)                                                       233.0
Year established                                            1942[126]
Remarks             Marks the discovery of gold by James W. Marsha...
Latitude                                                         38.8
Longitude                                                   -120.8939
Name: 147, dtype: object

In [239]:
state_park_df.dropna(subset=['Year established'], inplace=True)

In [240]:
state_park_df.loc[147, 'Year established'] = 1942

In [241]:
state_park_df['Year established'] = state_park_df['Year established'].astype(float)

In [242]:
state_park_df.dtypes

State Park           object
Classification       object
County               object
Size (acres)        float64
Size (ha)           float64
Year established    float64
Remarks              object
Latitude            float64
Longitude           float64
dtype: object

## state_park_time_date

In [243]:
state_park_time_date.head()

,State Park,Date,Sunrise (Time),Sunrise (Angle),Sunset (Time),Sunset (Angle),Daylength (Length),Daylength (Diff.),Astronomical Twilight (Start),Astronomical Twilight (End),Nautical Twilight (Start),Nautical Twilight (End),Civil Twilight (Start),Civil Twilight (End),Solar Noon (Time),Solar Noon (Angle),Solar Noon (Mil. mi)
0,Admiral William Standley State Recreation Area,2024-01-01,7:35 am,120,5:00 pm,240,9:25:32,+0:39,5:58 am,6:37 pm,6:31 am,6:04 pm,7:05 am,5:30 pm,12:17 pm,27.4,91.404
1,Admiral William Standley State Recreation Area,2024-01-02,7:35 am,120,5:01 pm,240,9:26:15,+0:42,5:58 am,6:38 pm,6:31 am,6:05 pm,7:05 am,5:31 pm,12:18 pm,27.5,91.404
2,Admiral William Standley State Recreation Area,2024-01-03,7:35 am,119,5:02 pm,241,9:27:01,+0:46,5:58 am,6:39 pm,6:31 am,6:06 pm,7:05 am,5:32 pm,12:18 pm,27.6,91.404
3,Admiral William Standley State Recreation Area,2024-01-04,7:35 am,119,5:03 pm,241,9:27:51,+0:50,5:59 am,6:39 pm,6:31 am,6:07 pm,7:05 am,5:33 pm,12:19 pm,27.7,91.405
4,Admiral William Standley State Recreation Area,2024-01-05,7:35 am,119,5:04 pm,241,9:28:45,+0:53,5:59 am,6:40 pm,6:31 am,6:07 pm,7:05 am,5:34 pm,12:19 pm,27.8,91.406

In [244]:
state_park_time_date.dtypes

State Park                        object
Date                              object
Sunrise (Time)                    object
Sunrise (Angle)                    int64
Sunset (Time)                     object
Sunset (Angle)                     int64
Daylength (Length)                object
Daylength (Diff.)                 object
Astronomical Twilight (Start)     object
Astronomical Twilight (End)       object
Nautical Twilight (Start)         object
Nautical Twilight (End)           object
Civil Twilight (Start)            object
Civil Twilight (End)              object
Solar Noon (Time)                 object
Solar Noon (Angle)               float64
Solar Noon (Mil. mi)             float64
dtype: object

### Check the null value percentages of all the columns

In [245]:
state_park_time_date.isnull().sum()/len(state_park_time_date)

State Park                       0.0
Date                             0.0
Sunrise (Time)                   0.0
Sunrise (Angle)                  0.0
Sunset (Time)                    0.0
Sunset (Angle)                   0.0
Daylength (Length)               0.0
Daylength (Diff.)                0.0
Astronomical Twilight (Start)    0.0
Astronomical Twilight (End)      0.0
Nautical Twilight (Start)        0.0
Nautical Twilight (End)          0.0
Civil Twilight (Start)           0.0
Civil Twilight (End)             0.0
Solar Noon (Time)                0.0
Solar Noon (Angle)               0.0
Solar Noon (Mil. mi)             0.0
dtype: float64

### Check for numbe of duplicate values

In [246]:
state_park_time_date.duplicated().sum()

1457

In [247]:
duplicate_rows = state_park_time_date[state_park_time_date.duplicated()]
duplicate_indexes = duplicate_rows.index
print(duplicate_indexes)

Int64Index([  763,   764,   765,   766,   767,   768,   769,   770,   771,
              772,
            ...
            61843, 61844, 61845, 61846, 61847, 61848, 61849, 61850, 61851,
            61852],
           dtype='int64', length=1457)

In [248]:
print(state_park_time_date.loc[764])
print()
print(state_park_time_date.loc[765])

State Park                       Anderson Marsh State Historic Park
Date                                                     2024-01-02
Sunrise (Time)                                              7:29 am
Sunrise (Angle)                                                 119
Sunset (Time)                                               4:59 pm
Sunset (Angle)                                                  241
Daylength (Length)                                          9:30:27
Daylength (Diff.)                                             +0:41
Astronomical Twilight (Start)                               5:53 am
Astronomical Twilight (End)                                 6:35 pm
Nautical Twilight (Start)                                   6:26 am
Nautical Twilight (End)                                     6:02 pm
Civil Twilight (Start)                                      6:59 am
Civil Twilight (End)                                        5:29 pm
Solar Noon (Time)                                          12:14 pm
Solar Noon (Angle)                                             28.2
Solar Noon (Mil. mi)                                         91.404
Name: 764, dtype: object

State Park                       Anderson Marsh State Historic Park
Date                                                     2024-01-03
Sunrise (Time)                                              7:29 am
Sunrise (Angle)                                                 119
Sunset (Time)                                               5:00 pm
Sunset (Angle)                                                  241
Daylength (Length)                                          9:31:12
Daylength (Diff.)                                             +0:45
Astronomical Twilight (Start)                               5:53 am
Astronomical Twilight (End)                                 6:36 pm
Nautical Twilight (Start)                                   6:26 am
Nautical Twilight (End)                                     6:03 pm
Civil Twilight (Start)                                      6:59 am
Civil Twilight (End)                                        5:30 pm
Solar Noon (Time)                                          12:14 pm
Solar Noon (Angle)                                             28.3
Solar Noon (Mil. mi)                                         91.404
Name: 765, dtype: object

### Convert Date to date time type from object

In [249]:
date_col = pd.to_datetime(state_park_time_date['Date'], errors='coerce')
non_date_indexes = state_park_time_date.index[date_col.isna()]
print("Indexes of non-date formatted values:", non_date_indexes)

Indexes of non-date formatted values: Int64Index([], dtype='int64')

In [250]:
state_park_time_date['Date'] = pd.to_datetime(state_park_time_date['Date'])

### Convert Sunrise (Time) and Sunset (Time) to time type from object

In [251]:
state_park_time_date['Sunrise (Time)'] = pd.to_datetime(state_park_time_date['Sunrise (Time)'], format='%I:%M %p').dt.time
state_park_time_date['Sunset (Time)'] = pd.to_datetime(state_park_time_date['Sunset (Time)'], format='%I:%M %p').dt.time

### Convert Daylength (Length) to int seconds from object

In [252]:
state_park_time_date['Daylength (Length)'] = pd.to_timedelta(state_park_time_date['Daylength (Length)']).dt.total_seconds()

### Drop irrelavant cols

In [253]:
columns_to_keep = ['State Park', 'Date', 'Sunrise (Time)', 'Sunset (Time)', 'Daylength (Length)']
state_park_time_date = state_park_time_date[columns_to_keep]

### Check dfs info before saving them to csv files

In [254]:
state_park_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251 entries, 0 to 278
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State Park        251 non-null    object
 1   Classification    251 non-null    object
 2   County            251 non-null    object
 3   Size (acres)      251 non-null    float64
 4   Size (ha)         251 non-null    float64
 5   Year established  251 non-null    float64
 6   Remarks           132 non-null    object
 7   Latitude          251 non-null    float64
 8   Longitude         251 non-null    float64
dtypes: float64(5), object(4)
memory usage: 27.7+ KB

In [255]:
state_park_time_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82715 entries, 0 to 82714
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State Park          82715 non-null  object
 1   Date                82715 non-null  datetime64[ns]
 2   Sunrise (Time)      82715 non-null  object
 3   Sunset (Time)       82715 non-null  object
 4   Daylength (Length)  82715 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 3.2+ MB

### Number of rows deleted

#### state_park_df

In [256]:
num_uncleanned_rows_state_park_df - state_park_df.shape[0]

28

#### state_park_time_date

In [257]:
num_uncleanned_rows_state_park_time_date - state_park_time_date.shape[0]

0

### Save cleaned and processed data

In [258]:
state_park_df.to_csv('Cleaned_data/state_park_df.csv', index=False)
state_park_time_date.to_csv('Cleaned_data/state_park_time_date.csv', index=False)